{% extends "base.html" %}
{% block title %}{{ product.name }} | Price tracker{% endblock %}

{% block content %}

        <hr>
        <h1>{{ product.name }}</h1>
        <div class="item">
            <img src="{{ product.image_url }}" alt="" srcset="">
            <div id="price-chart" style="width:100%;max-width:700px;margin:auto;"></div>        
        </div>
        
        <ul>
            <h3>Buy in</h3>
            {% for entry in listed_products %}
                <li><a href="{{ entry.url }}" target="_blank">{{ entry.store_name }}</a></li>
            {% endfor %}
        </ul>

        <!-- Include Plotly.js -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <!-- Div for the plot -->
        <script>
            var data = JSON.parse({{ price_history | tojson | safe }});

            var traces = [];

            var colors = {
                "Exito": "#ffbf00",
                "Carulla": "#8dc63f",
                "Jumbo": "#0a8920"
             }

            for (var store in data) {
                traces.push({
                    x: data[store].time,
                    y: data[store].price,
                    mode: 'lines+markers',
                    name: store,
                    line: { color: colors[store] }, // Line color
                    marker: { color: colors[store] } // Marker color

                });
            }

            var currentTime = new Date().toISOString();

            // Add a vertical line at the current time
            var verticalLine = {
                x: [currentTime, currentTime],
                y: [Math.min(...traces.flatMap(t => t.y)), Math.max(...traces.flatMap(t => t.y))],
                mode: 'lines',
                name: 'Current Time',
                line: {
                    color: 'red',
                    dash: 'dashdot',
                    width: 3
                },
                layer: 'below',
            };

            traces.push(verticalLine);


            var layout = {
                title: 'Price History',
                xaxis: {
                    title: 'Time'
                },
                yaxis: {
                    title: 'Price'
                }
            };

            Plotly.newPlot('price-chart', traces, layout);

            

            


</script>



{% endblock %}